body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #FCF8EC;
  font-family: 'Short Stack', sans-serif;
}


/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
  background-color: #FCF8EC; 
}

.logo-container {
  flex: 1; 
}

.logo {
  width: 25%; 
  max-width: 30px;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  padding: 2rem 0; /* Adjust padding as needed */
}

.hero-description {
  flex: 1;
  padding-right: 2rem; 
  padding-right: 2rem; /* Adjust spacing between the description and content */
  text-align: center;
  margin-bottom: 80px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: -1.5rem;
  font-family: 'Rock Salt', cursive;
}

.underline {
  width: 100%; /* Adjust image width as needed */
  max-width: 300px; /* Set a maximum width for responsiveness */
  margin-top: -0.9rem; /* Adjust margin between h1 and image */
}

.hero p {
  font-size: 1rem;
  color: #555; /* Adjust text color as needed */
}

.hero-content {
  flex: 1;
}

.sketch-image {
  width: 80%; /* Adjust the width of the image */
  max-width: 300px;
  margin-left: 180px;
}

/* ... Info ... */
.info {
  display: flex;
  flex-direction: column; /* Stack items in a column by default */
  margin: 2rem 0; /* Adjust margin as needed */
}

.info-section {
  flex: 1;
  padding: 1rem;
  margin-top: 10px; /* Adjust margin-top for spacing */
}

.info-browse {
  background-color: #FCF8EC; /* Add background color for the "Browse" section, adjust as needed */
}

.info-download {
  background-color: #FCF8EC; /* Add background color for the "Download" section, adjust as needed */
}

.info-image {
  width: 50px; /* Adjust the width of the image */
  height: 50px; /* Adjust the height of the image */
  display: block; /* Remove any default image spacing */
  margin: 0 auto 0.5rem;
  margin-left: 1rem;
}

.info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.info p {
  font-size: 1rem;
  color: #555; /* Adjust text color as needed */
}

@media (min-width: 768px) {
  .info {
    flex-direction: row; 
  }

  .info-section {
    margin-top: 0;
  }
}